{% extends "WebJF/base.html" %}

{% load static %}

{% block content %}

<div style="position: relative; width: 100%; height: 100vh;">
  <video id="video3" class="w-100 h-100" autoplay muted loop style="object-fit: cover;">
    <source src="https://bafybeihmgrzd4hhfgp2bnbz7rmnwljv46jgwvmewc4ajynbj4kfwhze2gi.ipfs.w3s.link/actWeb.mp4" type="video/webm">
  </video>    
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">  
    <h1 class="animate__animated animate__fadeInDown fw-normal display-1"><span>ACTVITTA</span></h1>
    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
  </div>
</div>





    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>ACTVITTA</h2>
          <p>Somos</p>
          <a href="https://www.facebook.com/profile.php?id=100090685197494" class="facebook"><i class="bx bxl-facebook display-6"></i></a>
          <a href="https://www.instagram.com/actvitta_ecuador/" class="instagram"><i class="bx bxl-instagram display-6"></i></a>
          
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              La libertad de movimiento es la esencia de Actvitta, una marca que fusiona las últimas tendencias de moda deportiva con tecnologías avanzadas para brindar una experiencia de bienestar incomparable. Nuestras líneas deportivas y de medias están confeccionadas con materiales inteligentes, resaltando el estilo athleisure que se adapta perfectamente a la dinámica rutina de hombres y mujeres. 
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> DEPORTE Y TECNOLOGÍA </li>
              <li><i class="ri-check-double-line"></i> MOVIMIENTO </li>
              <li><i class="ri-check-double-line"></i> ATHLEISURE </li>
              <li><i class="ri-check-double-line"></i> BIENESTAR </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Descubre una nueva forma de vivir activamente sin sacrificar el estilo con Actvitta. ¡Únete a nosotros y experimenta la verdadera libertad de movimiento!
            </p>
            <a href="#" class="btn-learn-more">VIDEO</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



      
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
        <h2>Actvitta</h2>
        <p>TOP VENTAS</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
        <li data-filter="*" class="filter-active">All</li>
        <li data-filter=".filter-top">Top</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-top">
            <div class="portfolio-img"><img src="https://bafybeigyol6uoksibimexfzwrgl7kqgo7wl47mzmdkjebxrylmi4n4cury.ipfs.w3s.link/act1.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Actvitta</h4>
              <p>Marca</p>
              <a href="https://bafybeigyol6uoksibimexfzwrgl7kqgo7wl47mzmdkjebxrylmi4n4cury.ipfs.w3s.link/act1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-top">
            <div class="portfolio-img"><img src="https://bafybeifrko34wu2xzlkbw7tocluujwzou5bt7g4a6eq7p4wivbdt7qsdw4.ipfs.w3s.link/act2.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Actvitta</h4>
              <p>Marca</p>
              <a href="https://bafybeifrko34wu2xzlkbw7tocluujwzou5bt7g4a6eq7p4wivbdt7qsdw4.ipfs.w3s.link/act2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-actvitta">
            <div class="portfolio-img"><img src="https://bafybeiao2vl5taeiacn64l65sc3iluikm6mz2xrms2o54h6yhkajbn4yly.ipfs.w3s.link/act3.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Actvitta</h4>
              <p>Marca</p>
              <a href="https://bafybeiao2vl5taeiacn64l65sc3iluikm6mz2xrms2o54h6yhkajbn4yly.ipfs.w3s.link/act3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-actvitta">
            <div class="portfolio-img"><img src="https://bafybeidtt6hegp6lrcyqctn5mhpczy3znpmijkdfvh6gfaj6jun5vy3g5m.ipfs.w3s.link/act4.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Actvitta</h4>
              <p>Marca</p>
              <a href="https://bafybeidtt6hegp6lrcyqctn5mhpczy3znpmijkdfvh6gfaj6jun5vy3g5m.ipfs.w3s.link/act4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-top">
            <div class="portfolio-img"><img src="https://bafybeif45juzcvnewffcaocuzklfb3xdtr2vmrjrm2dtz6jztkephuwdum.ipfs.w3s.link/act5.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Actvitta</h4>
              <p>Marca</p>
              <a href="https://bafybeif45juzcvnewffcaocuzklfb3xdtr2vmrjrm2dtz6jztkephuwdum.ipfs.w3s.link/act5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-actvitta">
            <div class="portfolio-img"><img src="https://bafybeignh3xdvsrho2b4depmlfwxrsozrkteqe237yw355y3cqqu6ihav4.ipfs.w3s.link/act6.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Actvitta</h4>
              <p>Marca</p>
              <a href="https://bafybeignh3xdvsrho2b4depmlfwxrsozrkteqe237yw355y3cqqu6ihav4.ipfs.w3s.link/act6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-actvitta">
            <div class="portfolio-img"><img src="https://bafybeictkuxvhamurhtcxxwvfdfszewitj67m25q23nqqeuus3vnk3aigq.ipfs.w3s.link/act7.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Actvitta</h4>
              <p>Marca</p>
              <a href="https://bafybeictkuxvhamurhtcxxwvfdfszewitj67m25q23nqqeuus3vnk3aigq.ipfs.w3s.link/act7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-actvitta">
            <div class="portfolio-img"><img src="https://bafybeigf7zdfzn55tdz2mzzwwd6rfujeofrvyq22hepvumqxb7syklkicy.ipfs.w3s.link/act8.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Actvitta</h4>
              <p>Marca</p>
              <a href="https://bafybeigf7zdfzn55tdz2mzzwwd6rfujeofrvyq22hepvumqxb7syklkicy.ipfs.w3s.link/act8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-actvitta">
            <div class="portfolio-img"><img src="https://bafybeihwdeth72wgbei2uyb4prhebqjr7lbwgqcl5il7k7ku452iwgrbmq.ipfs.w3s.link/act9.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Actvitta</h4>
              <p>Marca</p>
              <a href="https://bafybeihwdeth72wgbei2uyb4prhebqjr7lbwgqcl5il7k7ku452iwgrbmq.ipfs.w3s.link/act9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
            </div>
          </div>


        </div>

    </div>
    </section><!-- End Portfolio Section -->


    <script>
      window.addEventListener('beforeunload', function() {
        var video = document.getElementById('video3');
        video.pause();
      });
    </script>

{% endblock %}