{% extends "WebJF/base.html" %}

{% load static %}

{% block content %}

 <!-- ======= Contact Section ======= -->

      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container">
  
          <div class="row" data-aos="zoom-out">
            <div class="col-lg-9 text-center text-lg-start">
              <h3>Encuéntranos</h3>
              <p> Si deseas empezar a vender nuestras marcas, como Vizzano, Modare Ultraconforto, Actvitta y BR Sport, te invitamos a ponerte en contacto con nosotros. Por favor, ten en cuenta que requerimos que ya cuentes con una tienda física o una plataforma en línea establecida. ¡Estamos emocionados poder trabajar juntos!</p>
            </div>
          </div>
  
        </div>
      </section><!-- End Cta Section -->


      <div class="container mt-4">
        <div class="section-title" data-aos="zoom-out">
          <h2>JF SHOES</h2>
          <p>Contacto</p>
        </div>
      </div>
      

 <div class="d-flex justify-content-center">
  <form action="" method="POST" class="formulario">
    {% csrf_token %}
      <div class="form-group">
          {{ form }}
        </table>
      </div>
      <style>
        .btn-neon-orange {
          background-color: #ff6600;
          border-color: #ff6600;
          color: #fff;
        }
        .btn-neon-orange:hover {
          background-color: #ff5500;
          border-color: #ff5500;
        }
      </style>
      
      <div class="text-center mb-4 mt-4">
        <input type="submit" value="Enviar" class="btn btn-neon-orange btn-lg">
      </div>
      
      
  </form>
</div>

<div class="container mt-4">
  <div class="section-title" data-aos="zoom-out">
    <h2>JF SHOES</h2>
    <p>UBICACIÓN</p>
  </div>
</div>



{% endblock %}
