{% extends "WebJF/base.html" %}

{% load static %}

{% block content %}




<div style="position: relative; width: 100%; height: 100vh;">
  <video id="video1" class="w-100 h-100" autoplay muted loop playsinline style="object-fit: cover;" preload="metadata">
    <source src="https://bafybeigdfvfwjjqumtelt3uu5g5lekr6nxncayjlcfovgpluojqual7fpy.ipfs.w3s.link/vizzWeb.mp4" type="video/mp4">
  </video>      
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">  
    <h1 class="animate__animated animate__fadeInDown fw-bold display-1"><span>VIZZANO</span></h1>
    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer mas.</a>
  </div>
</div>





  

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>VIZZANO</h2>
          <p>Somos</p>
          <a href="https://www.facebook.com/vizzano.ecuador" class="facebook"><i class="bx bxl-facebook display-6"></i></a>
          <a href="https://www.instagram.com/vizzanoecuador/" class="instagram"><i class="bx bxl-instagram display-6"></i></a>
          
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              Vizzano celebra la personalidad de mujeres sofisticadas y con estilo propio. Desde 1997, combinamos el estilo de las calles con las famosas pasarelas, destacando por detalles sorprendentes y una audacia única en la construcción de nuestros calzados y accesorios.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> FASHION </li>
              <li><i class="ri-check-double-line"></i> SOFISTICACIÓN </li>
              <li><i class="ri-check-double-line"></i> GLAMOUR </li>
              <li><i class="ri-check-double-line"></i> AUTENTICIDAD </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              ¡Únete a la experiencia Vizzano y realza tu estilo personal con nuestra amplia gama de productos de calidad y diseño excepcional!
            </p>
            <a href="#" class="btn-learn-more">VIDEO</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



      
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
        <h2>Vizzano</h2>
        <p>TOP</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
        <li data-filter="*" class="filter-active">Todo</li>
        <li data-filter=".filter-top">Top</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-vizzano">
            <div class="portfolio-img"><img src="https://bafybeie26cs25hfdkaxs5x6lbnoby345xb26j3v4ioittbqi5pb2y7uwwu.ipfs.w3s.link/vizz1.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Vizzano</h4>
              <p>Marca</p>
              <a href="https://bafybeie26cs25hfdkaxs5x6lbnoby345xb26j3v4ioittbqi5pb2y7uwwu.ipfs.w3s.link/vizz1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" ><i class="bx bx-plus"></i></a>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-top">
            <div class="portfolio-img"><img src="https://bafybeia367nvukzragtjaoe6cktejytbhwjz5rnfvsphphf7khojlgfucu.ipfs.w3s.link/vizz2.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Vizzano</h4>
              <p>Marca</p>
              <a href="https://bafybeia367nvukzragtjaoe6cktejytbhwjz5rnfvsphphf7khojlgfucu.ipfs.w3s.link/vizz2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
              </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-top">
            <div class="portfolio-img"><img src="https://bafybeidlscyeygtiem5cimsx6sjntsfm7hsh36fetiiotby3jtacivuzhe.ipfs.w3s.link/vizz9.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Vizzano</h4>
              <p>Marca</p>
              <a href="https://bafybeidlscyeygtiem5cimsx6sjntsfm7hsh36fetiiotby3jtacivuzhe.ipfs.w3s.link/vizz9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
              </div>
          </div>

          

          <div class="col-lg-4 col-md-6 portfolio-item filter-vizzano">
            <div class="portfolio-img"><img src="https://bafybeicginrgqbqybz73z4jgnmlrltxzvyexzgzken2qz323vm2zmyosk4.ipfs.w3s.link/vizz4.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Vizzano</h4>
              <p>Marca</p>
              <a href="https://bafybeicginrgqbqybz73z4jgnmlrltxzvyexzgzken2qz323vm2zmyosk4.ipfs.w3s.link/vizz4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-vizzano">
            <div class="portfolio-img"><img src="https://bafybeibin4w36pkdbnnjcv22fowbs5purwheirib76yl3myviqtt6v7vde.ipfs.w3s.link/vizz5.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Vizzano</h4>
              <p>Marca</p>
              <a href="https://bafybeibin4w36pkdbnnjcv22fowbs5purwheirib76yl3myviqtt6v7vde.ipfs.w3s.link/vizz5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-vizzano">
            <div class="portfolio-img"><img src="https://bafybeihjb5ts777i6swkxvcxfkzsy34x6pvxpi25az7mek7ldifkkfcf2e.ipfs.w3s.link/vizz6.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Vizzano</h4>
              <p>Marca</p>
              <a href="https://bafybeihjb5ts777i6swkxvcxfkzsy34x6pvxpi25az7mek7ldifkkfcf2e.ipfs.w3s.link/vizz6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-vizzano">
            <div class="portfolio-img"><img src="https://bafybeifk6dl2ozx36qfnbnjomkwqlgbljvxrco6vy4qqdgrq7t63mpmste.ipfs.w3s.link/vizz7.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Vizzano</h4>
              <p>Marca</p>
              <a href="https://bafybeifk6dl2ozx36qfnbnjomkwqlgbljvxrco6vy4qqdgrq7t63mpmste.ipfs.w3s.link/vizz7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-top">
            <div class="portfolio-img"><img src="https://bafybeibdm73yn6qmyzprwxcwy5dcclr6haax3ijevj32maewooolji2sza.ipfs.w3s.link/vizz8.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Vizzano</h4>
              <p>Marca</p>
              <a href="https://bafybeibdm73yn6qmyzprwxcwy5dcclr6haax3ijevj32maewooolji2sza.ipfs.w3s.link/vizz8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-vizzano">
            <div class="portfolio-img"><img src="https://bafybeielaebebostywuzqbkwzbh3phwr5a73dje2vqe3n7u3j6bkg2zzzq.ipfs.w3s.link/vizz3.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Vizzano</h4>
              <p>Marca</p>
              <a href="https://bafybeielaebebostywuzqbkwzbh3phwr5a73dje2vqe3n7u3j6bkg2zzzq.ipfs.w3s.link/vizz3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
              </div>
          </div>

          

        </div>

    </div>
    </section><!-- End Portfolio Section -->

    <script>
      window.addEventListener('beforeunload', function() {
        var video = document.getElementById('video1');
        video.pause();
      });
    </script>

{% endblock %}