{% extends "WebJF/base.html" %}

{% load static %}

{% block content %}

 <!-- ======= Encuentranos Section ======= -->

      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container">
  
          <div class="row" data-aos="zoom-out">
            <div class="col-lg-9 text-center text-lg-start">
              <h3>Contáctanos si...</h3>
              <p> Si deseas empezar a vender nuestras marcas, como Vizzano, Modare Ultraconforto, Actvitta y BR Sport, te invitamos a ponerte en contacto con nosotros. Por favor, ten en cuenta que requerimos que ya cuentes con una tienda física o una plataforma en línea establecida. ¡Estamos emocionados poder trabajar juntos!</p>
            </div>
            
          </div>
  
        </div>
      </section><!-- End Cta Section -->



      <!-- ======= Section ======= -->
      <title>Encuentranos</title>

      <div class="row">
        <div class="col-md-4">
            <h3>Nuestras Sucursales</h3>
            <p class="lead">Estas son nuestras sucursales donde los atenderemos con profesionalismo y dedicación</p>
    
            
        </div>
        <div class="col-md-8">
            {{ map|safe }}
        </div>
    </div>
      
      <!-- End  Section -->



      



  {% endif %}

{% endblock %}
