{% extends "WebJF/base.html" %}

{% load static %}

{% block content %}

 <!-- ======= Contact Section ======= -->
 


<section id="cta" class="cta">
  <div class="container">
    <div class="row" data-aos="zoom-out">
      <div class="col-lg-9 text-center text-lg-start">
        <h3>Nuestras sucursales</h3>
        <p> Explora nuestra red de sucursales y encuentra la más cercana a ti. Nuestro compromiso es estar siempre a tu alcance para satisfacer tus necesidades.<br>
           ¡Encuentra tu sucursal y visítanos hoy mismo!</p>
      </div>

    </div>

  </div>
</section>

  
<div class="d-flex justify-content-center">
  <div class="col-md-6 col-12 p-4"> <!-- Adjust size based on screen -->
    {{ map|safe }}
  </div>
</div>


{% endblock %}
